<div class="form-div">
    <div class="form-width" *ngIf="!emailFlag">
        <form class="text-center" [formGroup]="forgotPasswordForm" (ngSubmit)="forgotPasswordForm.valid && forgotPassword()">
            <h5 class="text-center text-primary-emphasis">Verify Email</h5>
            <hr>
            <div class="col p-0">
                <div class="form-floating mb-3">
                    <input type="email" class="form-control" id="Email" placeholder="Email" formControlName="email"
                    [class.is-invalid]="forgotPasswordForm.get('email')?.invalid && 
                    (forgotPasswordForm.get('email')?.dirty || forgotPasswordForm.get('email')?.touched)">
                    <label for="Email">Email</label>
                </div>
            </div>
    
            <hr>
            <div class="d-flex justify-content-center align-items-center">
                <button class="btn btn-success me-4" type="submit" [disabled]="!forgotPasswordForm.valid">Verify Email</button>
            </div>
        </form>
    </div>
</div>

<div *ngIf="emailFlag" class="text-center" style="margin-top: 100px;">
    <h6>A mail has been sent to your email account. Please click on the link to verify the email.</h6>
</div>