<div class="d-flex justify-content-center align-items-center">
    <div class="form-width">
        <form id="login-form" class="text-center" [formGroup]="loginForm" (ngSubmit)="loginForm.valid && login()">
            <h2 class="text-center text-primary-emphasis">Log In</h2>
            <hr>
            <div class="col p-0">
                <div class="form-floating mb-3">
                    <input type="email" class="form-control" id="Email" placeholder="Email" formControlName="email"
                    [class.is-invalid]="loginForm.get('email')?.invalid && 
                    (loginForm.get('email')?.dirty || loginForm.get('email')?.touched)">
                    <label for="Email">Email</label>
                </div>
            </div>

            <div class="col p-0">
                <div class="form-floating mb-3">
                    <input type="password" class="form-control" id="Password" placeholder="Password" formControlName="password"
                    [class.is-invalid]="loginForm.get('password')?.invalid && 
                    (loginForm.get('password')?.dirty || loginForm.get('password')?.touched)">
                    <label for="Password">Password</label>
                </div>
            </div>

            <hr>
            <div class="d-flex justify-content-center align-items-center">
                <button id="login-submit" class="btn btn-success me-4" type="submit" [disabled]="!loginForm.valid">Login</button>
            </div>
        </form>
        <div class="mt-4 text-center">
            <a routerLink="/forgot-password" class="text-info">Forgot Password</a>
        </div>
        <div class="mt-4 text-center">
            <a routerLink="/signup" class="text-info">New to PrepInt? Create an account</a>
        </div>
    </div>
    <div class="img-div">
        <img src="https://prepint-images.s3.ap-south-1.amazonaws.com/landing.png" alt="signinpage">
    </div>
</div>