<app-interview-card-grid
  title="Your Notes"
  [data]="userNotes"
  [user]="true"
  [cardType]="'Note'"
  (start)="openNote($event)"
  (thumbsUp)="toggleThumbsUp($event)"
  (thumbsDown)="toggleThumbsDown($event)"
  (favorite)="toggleFavorite($event)"
  (requestDelete)="onRequestDelete($event)"
  (onCreate)="onCreate()">
</app-interview-card-grid>

<app-interview-card-grid
  title="Other Notes"
  [data]="allNotes"
  [user]="false"
  [cardType]="'Note'"
  (start)="openNote($event)"
  (thumbsUp)="toggleThumbsUp($event)"
  (thumbsDown)="toggleThumbsDown($event)"
  (favorite)="toggleFavorite($event)"
  (requestDelete)="onRequestDelete($event)"
  (onCreate)="onCreate()">
</app-interview-card-grid>

<app-confirmation-dialog
  [title]="'Delete Note'"
  [message]="'Are you sure you want to delete this note?'"
  [visible]="popupNoteId !== null"
  (confirm)="deleteNote()"
  (cancel)="closePopup()">
</app-confirmation-dialog>