<div class="call-container" *ngIf="interview">
  <!-- <h3>{{ toCamelCase(interview.role) }} Interview</h3>
  <p>Created At: {{ interview.createdAt | date: 'dd/MM/yyyy' }}</p>
  <p>Type: {{ toCamelCase(interview.type) }}</p>
  <p>Level: {{ toCamelCase(interview.level) }}</p>
  <p>Stack: {{ formatTechStack(interview.techstack) }}</p> -->

  <div class="interview-card">
    <div class="card-header">
      <h2>Backend Interview</h2>
      <p class="date">Created At: 07/08/2025</p>
    </div>

    <div class="vertical-line"></div>

    <div class="card-body">
      <div class="info-item">
        <span class="label">Type:</span>
        <span class="value"> {{ toCamelCase(interview.type) }}</span>
      </div>
      <div class="info-item">
        <span class="label">Level:</span>
        <span class="value">{{ toCamelCase(interview.level) }}</span>
      </div>
      <div class="info-item">
        <span class="label">Stack:</span>
        <span class="value">{{ formatTechStack(interview.techstack) }}</span>
      </div>
    </div>
  </div>




  <div class="video-grid">
    <!-- User window -->
    <div class="video-window" [class.speaking]="currentSpeaker === 'user'">
      <img [src]="loggedInUser.profileImage" alt="User" />
      <div class="name-label">{{ toCamelCase(loggedInUser.username) }}</div>
    </div>

    <!-- Bot window -->
    <div class="video-window" [class.speaking]="currentSpeaker === 'bot'">
      <img src="https://prepint-images.s3.ap-south-1.amazonaws.com/female-interviewer.png" alt="AI Bot" />
      <div class="name-label">Sarah</div>
    </div>
  </div>

  <div class="call-actions">
    <button class="btn btn-success" *ngIf="callStatus !== 'ACTIVE'" (click)="startCall()">
      {{ callStatus === 'CONNECTING' ? 'Connecting...' : 'Start Call' }}
    </button>

    <button class="btn btn-danger" *ngIf="callStatus === 'ACTIVE'" (click)="stopCall()">
      End Call
    </button>
  </div>

  <div class="msg-box">
    <div *ngIf="lastMessage" class="latest-msg">
      <p>{{ lastMessage }}</p>
    </div>
  </div>
</div>
