<nav class="navbar navbar-expand-md fixed-top navbar-dark bg-primary">
  <div class="container">
    <a class="navbar-brand">PrepInt</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarColor01" *ngIf="(authService.user$ | async) as currentUser">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a class="nav-link active" href="/">Dashboard</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="/notes">Notes</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="/feedbacks">Feedbacks</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="/favorite-interviews">Favorites</a>
        </li>
      </ul>
      <div class="dropdown" dropdown>
        <a class="dropdown-toggle text-light text-decoration-none" dropdownToggle>
          Welcome {{currentUser.username}}</a>
        <div class="dropdown-menu" *dropdownMenu>
          <a class="dropdown-item" routerLink="/profile" *ngIf="currentUser.isVerified">My Profile</a>
          <a class="dropdown-item" (click)="logout()">Log Out</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item text-danger" (click)="openPopup()">Delete Account</a>
        </div>
      </div>
    </div>
  </div>
</nav>

<app-confirmation-dialog
  [title]="'Delete Account'"
  [message]="'Are you sure you want to delete your account?'"
  [visible]="popup"
  (confirm)="deleteUser()"
  (cancel)="closePopup()">
</app-confirmation-dialog>