<div class="form-div">
    <div class="form-width">
        <form class="text-center" [formGroup]="resetPasswordForm" (ngSubmit)="resetPasswordForm.valid && resetPassword()">
            <h2 class="text-center text-primary-emphasis">Reset Password</h2>
            <hr>
            <div class="col p-0">
                <div class="form-floating mb-3">
                    <input type="password" class="form-control" id="Password" placeholder="Password" formControlName="password">
                    <label for="Password">Password</label>
                </div>
            </div>
    
            <hr>
            <div class="d-flex justify-content-center align-items-center">
                <button class="btn btn-success me-4" type="submit" [disabled]="!resetPasswordForm.valid">Reset</button>
            </div>
        </form>
    </div>
</div>