.form-div {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 200px;
}

.form-width {
    width: 38%;
    border: 1px solid #ddd;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    padding: 50px;
}