<app-interview-card-grid *ngIf="favoriteInterviews.length > 0"
  title="Favorite Interviews"
  [data]="favoriteInterviews"
  [user]="false"
  [cardType]="'Interview'"
  (start)="startInterview($event)"
  (thumbsUp)="toggleInterviewThumbsUp($event)"
  (thumbsDown)="toggleInterviewThumbsDown($event)"
  (favorite)="toggleInterviewFavorite($event)"
  (requestDelete)="onInterviewRequestDelete($event)">
</app-interview-card-grid>

<app-confirmation-dialog
  [title]="'Delete Interview'"
  [message]="'Are you sure you want to delete this interview?'"
  [visible]="popupInterviewId !== null"
  (confirm)="deleteInterview()"
  (cancel)="closeInterviewPopup()">
</app-confirmation-dialog>

<app-interview-card-grid *ngIf="favoriteNotes.length > 0"
  title="Favorite Notes"
  [data]="favoriteNotes"
  [user]="false"
  [cardType]="'Note'"
  (start)="openNote($event)"
  (thumbsUp)="toggleNoteThumbsUp($event)"
  (thumbsDown)="toggleNoteThumbsDown($event)"
  (favorite)="toggleNoteFavorite($event)"
  (requestDelete)="onNoteRequestDelete($event)">
</app-interview-card-grid>

<app-confirmation-dialog
  [title]="'Delete Note'"
  [message]="'Are you sure you want to delete this note?'"
  [visible]="popupNoteId !== null"
  (confirm)="deleteNote()"
  (cancel)="closeNotePopup()">
</app-confirmation-dialog>

<p class="ms-5 mt-0" *ngIf="favoriteInterviews.length === 0 && favoriteNotes.length === 0">No favorites yet</p>