<app-interview-card-grid *ngIf="favoriteInterviews.length > 0"
  title="Favorite Interviews"
  [interviews]="favoriteInterviews"
  [user]="false"
  (startInterview)="startInterview($event)"
  (thumbsUp)="toggleThumbsUp($event)"
  (thumbsDown)="toggleThumbsDown($event)"
  (favorite)="toggleFavorite($event)"
  (requestDelete)="onRequestDelete($event)">
</app-interview-card-grid>

<app-confirmation-dialog
  [title]="'Delete Interview'"
  [message]="'Are you sure you want to delete this interview?'"
  [visible]="popupInterviewId !== null"
  (confirm)="deleteInterview()"
  (cancel)="closePopup()">
</app-confirmation-dialog>

<p class="text-center mt-5" *ngIf="favoriteInterviews.length === 0">No favorites yet</p>